{{!-- Admin page won't render until the 'loggedIn' condition is true --}}
{{#if logged_in}}
<h1>Admin Profile Page</h1>
<br>
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{serializedUserData.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Sell a new Product!</h3>

    <form class="form new-product-form">
      <div class="form-group">
        <label for="product-name">Product Name:</label>
        <input class="form-input" type="text" id="product-name" name="product-name" />
      </div>
      <div class="form-group">
        <label for="product-price">Price($):</label>
        <input class="form-input" type="number" id="product-price" name="product-price" />
      </div>
      <div class="form-group">
        <label for="product-desc">Description:</label>
        <textarea class="form-input" id="product-desc" name="product-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="product-img">Image URL:</label>
        <input class="form-input" id="product-img" name="product-img" />
      </div>
      <div class="form-group">
        <label for="product-alt">Image Alt Tag:</label>
        <input class="form-input" id="product-alt" name="product-alt" />
      </div>


      <!--Category Select Drop Down Menu-->
      <label for="category-select">Category:</label>
      <select class="form-select" id="category-select">
        <option selected>Choose Category...</option>
        {{#each serializedCategoryData}}
        <option value="{{id}}">{{category_name}}</option>
        {{/each}}
      </select>


      <div class="form-group">
        <button type="submit" class="btn btn-dark">Sell This!</button>
      </div>
    </form>
  </div>

  {{#if serializedProductData.length}}
  <div class="col-md-6 product-list">
    <h3>Current Products:</h3>

    {{#each serializedProductData}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/api/products/{{id}}">{{product_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger delete-btn" data-id="{{id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<!--Add Category Section-->
<h2> Add A Category</h2>
<form class="form new-category-form">
  <div class="form-group">
    <label for="product-img">Category Name (Singular):</label>
    <input class="form-input" id="category_name" name="category_name" />
  </div>
  <div class="form-group">
    <label for="product-img">Category Image URL:</label>
    <input class="form-input" id="category_img" name="category-img" />
  </div>
  <div class="form-group">
    <button type='submit' class="btn btn-success">Add</button>
  </div>
</form>

<script src="/js/adminProfile.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="../../js/addToCart.js"></script>
{{!-- Closing statement for the loggedIn condition, if the admin is not logged in they are redirected to the login
page--}}
{{/if}}

{{#unless logged_in}}
<a href="/login">Please log in to view your products.</a>


{{/unless}}