<div class="container-fluid" id="card-container">
<h1> THIS IS RENDERING CORRECTLY</h1>
{{#each serializedData}}
<div class="card" style="width: 18rem;">
  <img src="{{product_img}}" class="card-img-top" alt="{{alt}}">
  <div class="card-body">
    <h5 class="card-title"><a href="/api/products/{{id}}">{{product_name}}</a></h5>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount price}}</span>
    </p>
    <p class="card-text">{{description}}</p>
    <a class="btn btn-primary">Add To Cart</a>
  </div>
</div>
{{/each}}
</div>