<div class="card text-center">
  <div class="card-header">
    {{name}}
  </div>
  <img src="{{product_img}}" class="card-img-top" alt="{{alt_tag}}">
  <div class="card-body">
    <p class="card-text">{{description}}</p>
    <a type="button" class="btn btn-dark">Add To Cart</a>
  </div>
  <div class="card-footer text-muted">
    Seller: {{admin.name}}
  </div>
</div>