<div class="card mb-3 text-center">
  <div class="card-header">
    <h1>{{product.product_name}}</h1>
  </div>
  <img src="{{product.product_img}}" class="card-img-top" alt="{{product.alt}}" id="large-product">
  <div class="card-body">
    <p class="card-text">{{product.description}}</p>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount product.price}}</span>
    </p>
    <a type="button" class="btn btn-dark add-to-cart" data-id="{{product.id}}">Add To Cart</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
<script src="../../js/addToCart.js"></script>