<section class="row col-12 justify-content-center ">
  <div class="col-12 col-md-10 col-lg-6 bg-dark text-light my-4 p-4 rounded">

<h1>User Profile Page</h1>
<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{serializedUserData.name}}!</h2>
    </div>
</div>
<div id='user-info '>
    <ul class="list-group">
        <label for="user-id" class="form-label">ID: <li class="list-group-item disabled" aria-disabled="true"
                id="user-id">{{serializedUserData.id}}</li></label>
        <label for="user-name" class="form-label">Name: <li class="list-group-item disabled" aria-disabled="true"
                id="user-name">{{serializedUserData.name}}</li></label>
        <label for="user-address" class="form-label">Address: <li class="list-group-item disabled" aria-disabled="true"
                id="user_name">{{serializedUserData.address}}</li></label>
        <label for="user-phone-number" class="form-label">Phone Number: <li class="list-group-item disabled"
                aria-disabled="true" id="user_name">{{serializedUserData.phone_number}}</li></label>
        <label for="user-email" class="form-label">Email: <li class="list-group-item disabled" aria-disabled="true"
                id="user_name">{{serializedUserData.email}}</li></label>
        <label for="user-password" class="form-label">Password: <li type="password"
                class="list-group-item disabled" aria-disabled="true" id="user_name">**********
            </li></label>
    </ul>
    <a href='/api/users/profile/edit'><button type="submit" class="btn btn-block btn-warning">Edit</button></a>
</div>
</div>
</section>
<!--THIS IS WHERE ORDER INFO WILL GO MUST FIX CART ISSUES FIRST -->
<h2>Past Orders</h2>
<div class='card-group ' id="order-info">
    {{#each serializedOrderData}}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h4>Order ID: {{id}}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Products Purchased: </h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">PID</th>
                        <th scope="col">Name</th>
                        <th scope="col">$</th>
                        <th scope="col">Qnty</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.products}}
                    <tr>
                        <th scope="row">{{this.id}}</th>
                        <td><a href="/api/products/{{this.id}}" target="_blank">{{product_name}}:</a></td>
                        <td><span class="dollar-amount">${{format_amount price}}</span>
                        </td>
                        <td>1</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table> 
        </div>
    </div>
    {{/each}}
</div>


<script src="../../js/addToCart.js"></script>